
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    height: 5em;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25em;
}

.gameating{
    padding-top: 0.3em;
    text-align: center;
    color: white;
    font-family: 'Impact', sans-serif;
}

.orange{
    color: #97E300;
    padding: 0;
}

#logo{
    width: 10em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-bottom: 0.3em;
}

.divLogo{
    height: 5em;
    width: 8em;
}

.divLogo img{
    width: 100%;
    height: 100%;
}

.divJostick{
    margin-top: 0.2em;
    height: 4em;
    width: 5em;
}

.divJostick img{
    width: 100%;
    height: 100%;
}

#ubication{
    width: 10em;
    display: flex;
    align-items: center;
    padding-right: 2em;
    background-color: black;
}

.divImgUbication{
    height: 3em;
    width: 3em;
}

.divImgUbication img{
    width: 100%;
    height: 100%;
}

.city{
    color: black;
    display: flex;
    align-items: center;
}

/* Carousel Index */

.carousel-item img {
    max-height: 56em;
    width: 100%;
    object-fit: cover; /* Escalar y recortar las imágenes para que se ajusten */
}

@media (max-width: 1200px) { /* Establece una altura fija para las imágenes en dispositivos móviles */
    .carousel-item img {
        max-height: 40em;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px) { /* Establece una altura fija para las imágenes en dispositivos móviles */
    .carousel-item img {
        max-height: 12.5em;
        width: 100%;
        object-fit: cover;
    }
}

.borderBlack{
    border: 0.1em solid black;
}

/* Formulario */

.centrarFormulario{
    display: flex;
}

.empujaDivFormulario{
    width: 7vw;
    background-image: url("../img/universo.jpg");
}

.divFormulario{
    background-image: url("../img/fondo\ formulario.jpg");
    color: white;
    padding: 1em;
    width: 86vw;
    border: 0.1em solid black;
}

#textoIndicacionesFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(242, 169, 81);
    background-color: white;
}

.labelForm{
    width: 10em;
}

.colorBlack{
    color: black;
    font-style: italic; 
}

.divInput{
    padding: 0.5em;
}

.textArea{
    margin-top: 0.3em;
}

#buttonForm{
    width: 6em;
    height: 2em;
    border: 0.1em solid black;
    color: white;
    background: linear-gradient(to bottom, rgb(145, 102, 49) 0%, rgb(242, 169, 81) 20%, rgb(242, 169, 81)80%, rgb(145, 102, 49) 100%);
    border-radius: 0.7em;
    margin-left: 0.5em;
    font-size: large;
    font-weight: bold;  
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#buttonForm:hover{
    background: linear-gradient(to bottom, rgb(140, 140, 140) 0%, rgb(227, 226, 226) 20%, rgb(227, 226, 226)80%, rgb(140, 140, 140) 100%);
    color: rgb(221, 153, 71);
}

.sinEstiloAncla{
    text-decoration: none;
    color: black;
    font-weight: bold; 
}

/* Conocenos */

.divInfo{
    background-image: url("../img/fondo\ tecnologico.jpg");
    color:#AD2943;
    padding: 1em;
    width: 86vw;
    border: 0.1em solid black;
    text-align: center;
}

.letraVerde{
    color:#73aa05;
}

.marginBottom{
    margin-bottom: 1em;
}

.marginBottom h2{
    color: black;
}

.black{
    color: black;
}

.divImgEspacios{
    width: 22em;
}

.divImgEspacios img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border: 0.1em solid black;
    
}

.imgCentradaInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    text-align: center;
    font-style: italic; 
    color:#73aa05
}

.flexCentrarTexto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrarTexto{
    text-align: center;
    width: 20em;
    font-size: large;
    border: 0.1em #6d192a solid;
    border-radius: 1em;
    background: linear-gradient(to bottom, rgb(140, 140, 140) 0%, rgb(227, 226, 226) 20%, rgb(227, 226, 226)80%, rgb(140, 140, 140) 100%);
    color: #6d192a;
    border: 0.1em solid black;
    margin-top: 0.5em;
}

.centrarTexto:hover{
    background: linear-gradient(to bottom, #6d192a 0%, #ce4762 20%, #ce4762 80%, #6d192a 100%);
    color: white;
}


/* Jobs */

.divWork{
    background-image: url("../img/hell.jpg");
    color: white;
    padding: 1em;
    width: 86vw;
    border: 0.1em solid black;
}

.colorOrange{
    color: rgb(242, 169, 81);
}

.white{
    color: white;
}

/* location */

.location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background: linear-gradient(to bottom, rgb(140, 140, 140) 0%, rgb(227, 226, 226) 8%, rgb(227, 226, 226)92%, rgb(140, 140, 140) 100%);
    border: 0.1em solid black;
}

.flex{
    display: flex;
}

.flex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lugar, .horario, .social{
    text-align: center;
}

.discord{
    width: 4.5em;
}

.X{
    width: 5em;
}

.instagram{
    width: 2.5em;
}

.tituloContacto{
    font-size: large;
    color: orange;
    padding-bottom: 0.4em;
    margin-bottom: 0.4em;
}

.negrita{
    font-weight: bold;  
}

.centradoVertical{
    display: flex;
    align-items: center;
    width: 5em;
    margin-bottom: 1em;
}

.containerTamañoImgSocial{
    width: 6em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6em;
}

.parrafoVacio{
    margin-bottom: 1em;
}

/* Cards */

.tituloCarta{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #466705 0%, #73aa05 20%, #73aa05 80%, #466705 100%);
    color: white;
    width: 100vw;
    height: 1.7em;
    font-size: xx-large;
    font-family: 'Impact', sans-serif;
}

.blue{
    background: linear-gradient(to bottom, rgb(2, 96, 159) 0%, rgb(0, 153, 255) 20%, rgb(0, 153, 255) 80%, rgb(2, 96, 159) 100%);
}

.yellow{
    background: linear-gradient(to bottom, rgb(142, 142, 2) 0%, rgb(211, 211, 3) 20%, rgb(211, 211, 3) 80%, rgb(142, 142, 2) 100%);
    background-color: yellow;
}

.separacionTituloCarta{
    background-color: white;
    width: 100vw;
    height: 0.4em;
}

.cards{
    width: 100vw;
    height: 100%;
    border: 0.2em solid black;
    background-image: url("../img/universo.jpg");
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, rgb(140, 140, 140) 0%, rgb(227, 226, 226) 8%, rgb(227, 226, 226)92%, rgb(140, 140, 140) 100%);
    height: 24em;
    width: 19em;
    border-radius: 1.5em;
    margin:  1em;
}

.NombreComida{
    font-size: larger;
    padding: 0.5em;
    color: #73aa05;
    font-weight: bold;  
}

.divContentImgCards{
    width: 16em;
    height: 10em;
    object-fit: cover; /* Escalar y recortar las imágenes para que se ajusten */
    border: 0.1em solid gray;
}

.divContentImgCards img{
    width: 100%;
    height: 100%;
}

.foodDescription{
    background-color: white;
    width: 16em;
    height: 8em;
    margin-top: 1em;
    position: relative;
    border: 0.1em solid gray;
}

.foodDescription img{
    height: 100%;
    width: 100%;
}

.foodMarketing{
    padding-top: 0.6em;
}

.foodIngredients{
    font-style: italic; 
    padding-top: 0.4em;
}

.separacionGrande{
    background-color: white;
    width: 100vw;
    height: 5em;
}

/* hovers de los platos de comida */

.kirby:hover{
    background-image: url("../img/Videojuegos/kirby2.png");
    height: 24em;
    border-radius: 1.5em;
}

.chocobo:hover{
    background-image: url("../img/Videojuegos/Chocobo.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.mario:hover{
    background-image: url("../img/Videojuegos/Mario\ Bros.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.diablo:hover{
    background-image: url("../img/Videojuegos/Diablo.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.kratos:hover{
    background-image: url("../img/Videojuegos/GodOfWar.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.theLast:hover{
    background-image: url("../img/Videojuegos/TheLastOfUs.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.NFS:hover{
    background-image: url("../img/Videojuegos/NFS.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.sonic:hover{
    background-image: url("../img/Videojuegos/Sonic.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.MGS:hover{
    background-image: url("../img/Videojuegos/MetalGear.png");
    height: 24em;
    border-radius: 1.5em;
}

.starcraft:hover{
    background-image: url("../img/Videojuegos/Starcraft.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.bloodborne:hover{
    background-image: url("../img/Videojuegos/Bloodborne.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.zelda:hover{
    background-image: url("../img/Videojuegos/Zelda.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.gears:hover{
    background-image: url("../img/Videojuegos/Gears.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.pikachu:hover{
    background-image: url("../img/Videojuegos/Pikachu.png");
    height: 24em;
    border-radius: 1.5em;
}

.resident:hover{
    background-image: url("../img/Videojuegos/Resident.jpg");
    height: 24em;
    border-radius: 1.5em;
}

.kart:hover{
    background-image: url("../img/Videojuegos/Mario\ kart.png");
    height: 24em;
    border-radius: 1.5em;
}

.assasin:hover{
    background-image: url("../img/Videojuegos/Assassin.png");
    height: 24em;
    border-radius: 1.5em;
}

.lol:hover{
    background-image: url("../img/Videojuegos/Lol.png");
    height: 24em;
    border-radius: 1.5em;
}

/* ofertas */

.ofertas{
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-image: url("../img/mandos.jpg");
}

.ofertasInterior{
    border: 0.1em solid black;
    width: 100%;
    height: 100%;
    background-color: white;
}

.tituloOfertasInterior{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6d192a 0%, #AD2943 20%, #AD2943 80%, #6d192a 100%);
    color: white;
    width: 100vw;
    height: 1.7em;
    font-size: x-large;
    font-family: 'Impact', sans-serif;
}

.divImagenesOfertas{
    background: linear-gradient(to bottom, #be8c969a 0%, #be8c963b 8%, #be8c963b 92%, #be8c969a 100%);
    padding-top: 2em;
    padding-bottom: 2em;
}

.containerImgOferta{
    width: 30vw;
}

.containerImgOferta img{
    width: 100%;
    height: 100%;
}

/* carousel ofertas */

.carouselOfertas {
    height: 26em;
}

.borderRadius{
    border-radius: 4em;
    border: 0.2em solid #6d192a;
}

/* footer */

.footer{
    width: 100vw;
    height: 3em;
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}  

.footer span{
    font-weight: bold;
    margin-right: 0.3em;
}

.footer a {
    color: #e74c3c;
    margin-left: 0.3em;
  }


