
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    height: 5em;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25em;
}

.gameating{
    padding-top: 0.3em;
    text-align: center;
    color: white;
    font-family: 'Impact', sans-serif;
}

.orange{
    color: #97E300;
    padding: 0;
}

#logo{
    width: 10em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-bottom: 0.3em;
}

.divLogo{
    height: 5em;
    width: 8em;
}

.divLogo img{
    width: 100%;
    height: 100%;
}

.divJostick{
    margin-top: 0.2em;
    height: 4em;
    width: 5em;
}

.divJostick img{
    width: 100%;
    height: 100%;
}

#ubication{
    width: 10em;
    display: flex;
    align-items: center;
    padding-right: 2em;
    background-color: black;
}

.divImgUbication{
    height: 3em;
    width: 3.5em;
}

.divImgUbication img{
    width: 100%;
    height: 100%;
}

.city{
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    font-size: larger;
}

/* Carousel */

.carousel-item {
    height: 50em;
  }

.carousel-item img {
    width: 50%;
    height: 100%;
    object-fit: cover; /* Escalar y recortar las imágenes para que se ajusten */
}

/* Cards */

.cards{
    width: 100vw;
    height: 100%;
    border: 0.2em solid black;
    background-image: url("../img/universo.jpg");
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, rgb(140, 140, 140) 0%, rgb(227, 226, 226) 8%, rgb(227, 226, 226)92%, rgb(140, 140, 140) 100%);
    height: 24em;
    width: 19em;
    border-radius: 1.5em;
    margin:  1em;
}

.NombreComida{
    font-size: larger;
    padding: 0.5em;
    color: #73aa05;
    font-weight: bold;  
}

.divContentImgCards{
    width: 16em;
}

.divContentImgCards img{
    width: 100%;
    height: 100%;
}

.foodDescription{
    background-color: white;
    width: 16em;
    height: 8em;
    margin-top: 1em;
    position: relative;
}

.foodDescription img{
    height: 100%;
    width: 100%;
}

.foodMarketing{
    padding-top: 0.6em;
}

.foodIngredients{
    font-style: italic; 
    padding-top: 0.4em;
}

/* hovers de los platos de comida */

.kirby:hover{
    background-image: url("../img/Videojuegos/kirby2.jpg");
    height: 24em;
    border-radius: 1.5em;
}

/* aside */

.ofertas{
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-image: url("../img/personajes.jpg");
}

.ofertasInterior{
    border: 0.1em solid black;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* footer */

.footer{
    width: 100vw;
    height: 3em;
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}  

.footer span{
    font-weight: bold;
    margin-right: 0.3em;
}

.footer a {
    color: #e74c3c;
    margin-left: 0.3em;
  }


